@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;700&display=swap');

:root {
    --red: #F41349;
    --blue: #21E6F2;
    --green: #2BE5A2;
    --pink: #F4139A;
    --black: #242424;
}